/* estilo para el MODAL Crear Usuario*/
.modal-header, h4, .close {
      background-color: #728CD4;
      color:white !important;
      text-align: center;
      font-size: 30px;
  }

  .modal-footer {
      background-color: #728CD4;
  }
  

.fmodal-green{
	  background-color: #40B348;
}
.hmodal-green{
	  background-color: #40B348;
}